<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <section>
        <div class="account-container">
          <div class="profile-section">
            <label for="profile-input">
              <img
                id="profile-pic"
                src="<%= profilePicture %>"
                alt="Profile Picture"
              />
            </label>
            <form
              id="profile-form"
              action="/upload-profile-pic"
              method="POST"
              enctype="multipart/form-data"
            >
              <input
                type="file"
                id="profile-input"
                name="profilePic"
                accept="image/*"
                style="display: none"
              />
            </form>
          </div>
          <div class="account-stats">
            <h1>Welkom <%= username %>!</h1>
            <p>Dit is je accountpagina.</p>
            <a href="/logout" class="logout-button">Uitloggen</a>
          </div>
        </div>
      </section>

      <section>
        <div class="saved-movies">
          <h2>Opgeslagen Films</h2>
          <% if (savedMovies && savedMovies.length > 0) { %>
          <ul class="saved-movies-container">
            <% savedMovies.forEach(movie => { %>
            <li>
              <div class="movie-wrapper">
                <a href="/detail?id=<%= movie.id %>">
                  <img
                    src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>"
                    alt="<%= movie.title %>"
                  />
                </a>
                <form
                  action="/delete-movie"
                  method="POST"
                  class="floating-delete-form"
                >
                  <input type="hidden" name="movieId" value="<%= movie.id %>" />
                  <button
                    class="floating-delete-button"
                    title="Verwijder film"
                    data-id="<%= movie.id %>"
                  >
                    ✖
                  </button>
                </form>
              </div>
            </li>
            <% }) %>
          </ul>
          <% } else { %>
          <p>Je hebt nog geen films opgeslagen.</p>
          <% } %>
        </div>
      </section>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
  <script src="/scripts/search.js"></script>
  <script src="/scripts/profile.js"></script>
  <script src="/scripts/delete.js"></script>
</html>
