<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= series.name %> - TV Series Details</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="series-background-container">
        <a href="/"><span>&larr;</span></a>
        <div class="series-container">
          <img
            class="series-poster"
            src="https://image.tmdb.org/t/p/w500<%= series.poster_path %>"
            alt="<%= series.name %>"
          />
          <div class="series-details">
            <h1 class="series-title"><%= series.name %></h1>
            <div class="series-info">
              <p><strong>Rating:</strong> <%= series.vote_average %>/10</p>
              <p><strong>Description:</strong> <%= series.overview %></p>
              <p>
                <strong>First Air Date:</strong> <%= series.first_air_date %>
              </p>
              <p>
                <strong>Number of Seasons:</strong> <%= series.number_of_seasons
                %>
              </p>
              <p>
                <strong>Number of Episodes:</strong> <%=
                series.number_of_episodes %>
              </p>
              <p>
                <strong>Genres:</strong> <%= series.genres.map(genre =>
                genre.name).join(', ') %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Cast Section -->
      <h2 class="cast-title">Cast</h2>
      <% if (tvShow.credits && tvShow.credits.cast.length > 0) { %>
      <div class="cast-container">
        <% tvShow.credits.cast.forEach(actor => { %>
        <div class="cast-member">
          <% if (actor.profile_path) { %>
          <img
            src="https://image.tmdb.org/t/p/w200<%= actor.profile_path %>"
            alt="<%= actor.name %>"
          />
          <% } %>
          <p><%= actor.name %> as <%= actor.character %></p>
        </div>
        <% }) %>
      </div>
      <% } %>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
  <script src="/scripts/search.js"></script>
</html>
