<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popular Movies</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <h2 class="playing">Trending Movies</h2>
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% if (trendingMovies && trendingMovies.length > 0) { %> <%
          trendingMovies.forEach(movie => { %>
          <div class="movie swiper-slide">
            <a href="/detail?id=<%= movie.id %>">
              <img
                src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>"
                alt="<%= movie.title %>"
              />
            </a>
          </div>
          <% }) %> <% } else { %>
          <p>No movies found.</p>
          <% } %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <h2 class="playing">Now Playing Movies</h2>

      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% if (nowPlayingMovies && nowPlayingMovies.length > 0) { %> <%
          nowPlayingMovies.forEach(movie => { %>
          <div class="movie swiper-slide">
            <a href="/detail?id=<%= movie.id %>">
              <img
                src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>"
                alt="<%= movie.title %>"
              />
            </a>
          </div>
          <% }) %> <% } else { %>
          <p>No movies found.</p>
          <% } %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <h2 class="playing">Popular TV Shows</h2>

      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% if (popularTVShows && popularTVShows.length > 0) { %> <%
          popularTVShows.forEach(show => { %>
          <div class="movie swiper-slide">
            <a href="/detail?id=<%= show.id %>">
              <img
                src="https://image.tmdb.org/t/p/w500<%= show.poster_path %>"
                alt="<%= show.name %>"
              />
            </a>
          </div>
          <% }); %> <% } else { %>
          <p>No TV shows found.</p>
          <% } %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/scripts/home.js"></script>
  <script src="/scripts/search.js"></script>
</html>
