<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>recommendation</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <%= selection.genre %>
    <form action="/recommendation" method="get" id="form">
      <h2>Wil je een Film of een Serie?</h2>
  <div class="type_container">
    <div class="genre_box type">
      <input type="checkbox" name="genre[]" class="checkbox" id="genre_film"
        value="Film"
        <% if (selection.genre && selection.genre.includes("Film")) { %> checked <% } %>
      />
      <label class="box_text" for="genre_film">Film</label>
    </div>

    <div class="genre_box type">
      <input type="checkbox" name="genre[]" class="checkbox" id="genre_serie"
        value="Serie"
        <% if (selection.genre && selection.genre.includes("Serie")) { %> checked <% } %>
      />
      <label class="box_text" for="genre_serie">Serie</label>
    </div>
  </div>

<div class="type_container">
  <div class="genre_box type">
      <input type="checkbox" name="genre[]" class="checkbox" value="Drama"
        <% if (selection.genre.includes("Drama")) { %> checked <% } %> />
      <label class="box_text">Drama</label>
    </div>
  <div class="genre_box type">
      <input type="checkbox" name="genre[]" class="checkbox" value="Adventure"
        <% if (selection.genre.includes("Adventure")) { %> checked <% } %> />
      <label class="box_text">Avontuur</label>
    </div>
  <div class="genre_box type">
      <input type="checkbox" name="genre[]" class="checkbox" value="Action"
        <% if (selection.genre.includes("Action")) { %> checked <% } %> />
      <label class="box_text">Actie</label>
    </div>
  <div class="genre_box type">
      <input type="checkbox" name="genre[]" class="checkbox" value="Comedy"
        <% if (selection.genre.includes("Comedy")) { %> checked <% } %> />
      <label class="box_text">komedie</label>
    </div>
  <div class="genre_box type">
      <input type="checkbox" name="genre[]" class="checkbox" value="Romance"
        <% if (selection.genre.includes("Romance")) { %> checked <% } %> />
      <label class="box_text">Romantiek</label>
    </div>
  <div class="genre_box type">
      <input type="checkbox" name="genre[]" class="checkbox" value="Music"
        <% if (selection.genre.includes("Music")) { %> checked <% } %> />
      <label class="box_text">Muziek</label>
    </div>
  <div class="genre_box type">
      <input type="checkbox" name="genre[]" class="checkbox" value="Documentary"
        <% if (selection.genre.includes("Documentary")) { %> checked <% } %> />
      <label class="box_text">Documentaire</label>
    </div>
  <div class="genre_box type">
      <input type="checkbox" name="genre[]" class="checkbox" value="Western"
        <% if (selection.genre.includes("Western")) { %> checked <% } %> />
      <label class="box_text">Westers</label>
    </div>
  <div class="genre_box type">
      <input type="checkbox" name="genre[]" class="checkbox" value="Horror"
        <% if (selection.genre.includes("Horror")) { %> checked <% } %> />
      <label class="box_text">Horror</label>
    </div>
  <div class="genre_box type">
      <input type="checkbox" name="genre[]" class="checkbox" value="Thriller"
        <% if (selection.genre.includes("Thriller")) { %> checked <% } %> />
      <label class="box_text">Thriller</label>
    </div>

</div>

    </form>
    <h2>Aanbevelingen</h2>

      <% if (allMovies.length > 0) { %>
        <div class="movie-grid">
          <% allMovies.forEach(movie => { %>
            <div class="movie">
              <a href="/detail?id=<%= movie.id %>">
              <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %>">
              </a>
            </div>
          <% }); %>
        </div>
      <% } else { %>
        <p>Selecteer "Film" of "Serie" om films te bekijken.</p>
      <% } %>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
  <script src="/scripts/recommendation.js"></script>
</html>
